@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --green: #13ad53f0;
  --orange: #f39c12;
  --red: #e74c3c;
  --black: #333;
  --light-color: #666;
  --white: #fff;
  --light-bg: #f6f6f6;
  --border: 0.2rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: var(--black);
}

*::selection {
  background-color: dodgerblue;
  color: #fff;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-thumb {
  background-color: dodgerblue;
}

body {
  background-color: var(--light-bg);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

section {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}

.btn,
.delete-btn,
.option-btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 1.8rem;
  padding: 1.2rem 2.2rem;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
}

.btn {
  background-color: dodgerblue;
}

.delete-btn {
  background-color: brown;
}

.option-btn {
  background-color: #52a190;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover {
  background-color: #666;
}

#menu-btn {
  display: none;
}

.flex-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-btn > * {
  flex: 1;
}

.title {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1.5rem;
  text-align: center;
}

.message {
  position: sticky;
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--light-bg);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  z-index: 10000;
}

.message span {
  font-size: 2rem;
  color: var(--black);
}

.message i {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--red);
}

.message i:hover {
  color: var(--black);
}

.empty {
  padding: 1.5rem;
  background: var(--white);
  color: var(--red);
  border-radius: 0.5rem;
  border: var(--border);
  font-size: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-1rem);
  }
}

.form-login {
  margin-top: 18rem;
}

.form-container form,
.form-login form {
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.form-container form h3,
.form-login form h3 {
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.8rem;
}

.form-container form .box,
.form-login form .box {
  width: 100%;
  padding: 1.6rem;
  font-size: 17px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-container form .box:focus,
.form-login form .box:focus {
  border: 2px solid black;
}

.form-container form .btn,
.form-login form .btn {
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: dodgerblue;
  color: #fff;
}

.form-container form .btn:hover,
.form-login form .btn:hover {
  background: #563434;
}

.form-container form p,
.form-login form p {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
}

.form-container form p a,
.form-login form p a {
  color: #ff523b;
  text-decoration: none;
}

.form-container form p a:hover,
.form-login form p a:hover {
  text-decoration: underline;
}

.form-container {
  margin-top: 6rem;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header .flex .logo {
  font-size: 3rem;
  color: var(--black);
}

.header .flex .logo span {
  color: dodgerblue;
}

.header .flex .navbar a {
  margin: 0 1.4rem;
  font-size: 2rem;
  color: black;
}

.header .flex .navbar a:hover {
  text-decoration: underline;
  color: dodgerblue;
}

.header .flex .navbar .active {
  color: dodgerblue;
}

.header .flex .icons > * {
  font-size: 2.5rem;
  color: darkgray;
  cursor: pointer;
  margin-left: 1.5rem;
}

.header .flex .icons > *:hover {
  color: dodgerblue;
}

.header .flex .icons a span,
.header .flex .icons a i {
  color: darkgray;
}

.header .flex .icons a:hover span,
.header .flex .icons a:hover i {
  color: dodgerblue;
}

.header .flex .icons a span {
  font-size: 2rem;
}

.header .flex .profile.active {
  display: inline-block;
}

.update-profile {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.update-profile .title {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 30px;
}
.update-profile form {
  width: 100%;
  max-width: 700px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.update-profile form img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
.update-profile form .flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.update-profile form .inputBox {
  width: 45%;
}
.update-profile form .inputBox span {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
}
.update-profile form .inputBox input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
.update-profile form .flex-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.update-profile form .flex-btn .btn {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background: #0088ff;
  color: #fff;
  cursor: pointer;
}
.update-profile form .flex-btn .option-btn {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background: #ccc;
  color: #000;
  cursor: pointer;
}
.update-profile form .flex-btn .option-btn:hover {
  transform: scale(1.05);
}
.update-profile form .flex-btn .btn:hover {
  transform: scale(1.05);
  color: #fff;
}
.update-profile form .inputBox .box {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  padding: 3rem 0;
  background: #333;
  color: #fff;
}
.footer .box-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .box-container .box {
  width: calc(25% - 20px);
  transition: all 0.4s ease;
}
.footer .box-container .box:hover {
  transform: translateY(-10px);
}
.footer .box-container .box h3 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: #999;
  margin-bottom: 0.5rem;
  transition: color 0.4s ease;
}
.footer .box-container .box a:hover {
  color: #fff;
}
.footer .box-container .box i {
  color: #999;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #999;
  margin-bottom: 0.5rem;
}

/* Media Queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    transition: 0.2s linear;
  }

  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    transition: 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .flex .navbar a {
    display: block;
    margin: 2rem;
  }

  .update-profile form .flex {
    flex-wrap: wrap;
    gap: 0;
  }

  .update-profile form .flex .inputBox {
    width: 100%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .flex-btn {
    flex-flow: column;
    gap: 0;
  }

  .title {
    font-size: 3rem;
  }
}
